@charset "utf-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap');
/* 모바일 */
html,body{
  font-family: 'Roboto','Noto Serif',sans-serif;  font-size:16px;
}
.sr_only{
  visibility:hidden; font-size:0; position:absolute; left:0; top:0; 
  text-indent:-9999px;
}
header{
  position:fixed;  left:0;  top:0;  width:100%;  height:60px;  z-index:99999;
  background-color:transparent;  transition:background-color .2s;
}
header>.innerbox{
  width:100%;  max-width:1140px;  margin:0 auto;  padding:0 15px;  height:60px;
  display:flex;  justify-content:space-between;  align-items:center;
}
header>.innerbox>h1{  font-size:1.3rem;  font-weight:700; }
header>.innerbox>h1>a{
  color:#fff; text-shadow:0px 0px 2px rgba(0,0,0,0.5); transition:color .2s;  
}
header>.innerbox>.toggle{
  width:32px;  height:32px;  padding:6px 0;  background-color:transparent;
  display:flex;  flex-direction:column;  justify-content:space-between; 
  align-items:center;  border:0px none;
}
header>.innerbox>.toggle>span{
  display:block;  width:28px; height:2px; background:#fff;  border-radius:2px;
  transition:background-color .2s;
}
header.fix{  background:#fff;  box-shadow:0px 3px 4px 0px rgba(0,0,0,0.2); }
header.fix>.innerbox>h1>a{  color:#090909;  }
header.fix>.innerbox>.toggle>span{  background-color:#090909;  }

header>.innerbox>.gnb{
  position:absolute;  left:0;  top:0;  width:50vw;  height:100vh;  z-index:200000;
  background-color:#fff;  padding:100px 24px; left:-70vw;
}
header>.innerbox>.gnb>ul{  display:flex;  flex-direction:column;  gap:14px; }
header>.innerbox>.gnb a{  color:#151515;  display:block;  line-height:1.7rem; }
header>.innerbox>.gnb .sub{
  font-size:0.92rem; margin-top:10px;  padding-left:20px;display:none;
}
header>.innerbox>.gnb>.close{
  border:0px none;  background:transparent;  font-size:1.5rem; cursor:pointer;
  display:flex; align-items:center;  position:absolute; right:24px;  top:20px; 
}
header>.innerbox>.gnb>.close>span{  font-size:2.8rem;  line-height:2.8rem;    }
.black_bg{
  position:fixed;  left:0px;  top:0px;  width:100vw;  height:100vh;
  background-color:rgba(0,0,0,0.7); z-index:100000;  display:none;
}
header>.innerbox>.icons_top{  display:none;  }
.search_area{  display:none;  }
#slide_container .swiper .swiper-button-next,
#slide_container .swiper .swiper-button-prev{  display:none; }
#slide_container .swiper .swiper-slide{  position:relative;   } 
#slide_container .swiper .swiper-slide img{
  width:100vw;  height:100vh;  object-fit:cover;  object-position:center;
}
#slide_container .swiper .swiper-slide .text_content1{  
  font-size:8vw;  text-align:center;  color:#fff;  position:absolute;
  left:50%;  top:50%;  transform:translate(-50%,-50%);  
  text-shadow:0 0 5px rgba(0,0,0,0.5); font-family:'Noto Serif',serif;
  font-weight:500;  white-space:nowrap;
} 
#slide_container .swiper .swiper-slide .text_content{  
 display: none;
} 

#featured_room{   padding:4rem 15px;  }
#featured_room>h2{
  font-size:2.6rem;  margin-bottom:3rem;  text-align:center; color:#151515;
  font-family:'Noto Serif',serif;  padding-bottom:20px;  font-weight:700;
}
#featured_room>h2::after{
  content:"";  display:block;  width:50px; height:1px; background-color:#090909;
  margin:20px auto 0; 
}
#featured_room>div{  width:100%;  position:relative;  }
#featured_room>div>.imgs_wrap{  padding-top:3.75rem;   }
#featured_room>.king>.imgs_wrap>.room1{
  position:absolute;  left:0px;  top:0px;  width:55%;  height:auto;
}
#featured_room>.king>.imgs_wrap>.room2{
  width:70%;  height:auto;  margin-left:40%; 
  /* margin-left:100%;  transform:translateX(-100%);  */
}
#featured_room>div>.content{   padding:2.25rem 0 3.75rem;  }
#featured_room>div>.content>h3{
  font-size:3.1rem;  margin-bottom:2rem;  font-family:'Noto Serif',serif;
  letter-spacing:-1px;
}
#featured_room>div>.content>p{
  font-family:'Noto Sans KR'; font-weight:300; line-height:1.7rem; color:#5d5d5d;
  margin-bottom:1.8rem;
}
#featured_room>div>.content>a{
  font-size:0.75rem; letter-spacing:0.2rem; color:#151515; font-weight:700;
}
#featured_room>.queen>.imgs_wrap{  position:relative;  }
#featured_room>.queen>.imgs_wrap>.room3{
  width:75%;  height:auto;
}
#featured_room>.queen>.imgs_wrap>.room4{
  width:55%;  height:auto;  position:absolute;  right:-50px;  top:60%;
  /* transform:translateY(-45%); */  margin-top:-10%; 
}

#Amenity{   padding:3.2rem 15px;  }
#Amenity>h2{
  font-size:2.6rem;  margin-bottom:2.8rem;  text-align:center; color:#090909;
  font-family:'Noto Serif';  padding-bottom:20px;
}
#Amenity>h2::after{
  content:""; display:block; width:50px; height:1px; background:#090909;
  margin:20px auto 0; /* position, transform */
}
#Amenity>.content_wrap{
  display:flex;  flex-direction:column;  gap:40px;  padding:2.4rem 0;
}
#Amenity img{  /* img[src*=svg] */
  width:50px;  height:auto;  margin:0 auto;
}
#Amenity>.content_wrap>div{
  border:1px solid #ccc;  padding:40px;  text-align:center; cursor:default;
}
#Amenity>.content_wrap>div:hover{
  background-color: #f5f0d3;
}
#Amenity>.content_wrap>div:hover,#Amenity>.content_wrap>div:active{
  border-color:#5d5d5d;
}
#Amenity>.content_wrap>div>h3{
  font-size:1.25rem; line-height:1.2rem; font-family:'Noto Serif';
  margin:1.4rem 0;
}
#Amenity>.content_wrap>div>p{
  color:#777;  font-weight:300; line-height:1.6rem;  margin-bottom:1rem;
}
#Amenity>.content_wrap>div>a{
  display:inline-block;  padding-bottom:15px;  border-bottom:1px solid #151515;
  font-size:0.67rem;  letter-spacing:0.2rem; color:#151515; font-weight:700;
}
#news_wrap{
  display: none;
}

#news_wrap>div{   padding:20px 0;  }
#news_wrap div[class*=latest]{
  width:calc((100% - 126px) / 2);
}
#news_wrap h2{
  font-family:'Noto Serif'; font-size:2.6rem;  width:126px;
  padding-bottom:20px; margin-bottom:1.25rem; letter-spacing:-1px; text-align:center;
}
#news_wrap h2::after{
  content:""; display:block; width:50px;  height:1px; background:#151515;
  margin-top:20px;
}
#news_wrap p{
  font-weight:300; color:#5d5d5d; line-height:1.7rem;  margin-bottom:1.6rem;
}
#news_wrap a{ 
  font-size:0.67rem; letter-spacing:0.2rem; color:#090909; font-weight:700; 
} 
#news_wrap img{  width:100%; height:350px;  object-fit:cover; object-position: center; margin-bottom:2rem; }
#news_wrap .date{  color:#a2a3a4;  }
#news_wrap .date>span{   color:#d50032;  display:block;   }

#request_call{
  background:#f5f0d3; border: 1px solid #dedede; color:#151515; font-family:'Noto Serif'; text-align:center;
  font-size:1.6rem;  line-height:1.8;  height:340px;   padding:0 20px;
  letter-spacing:-1px; display:flex; justify-content:center; align-items:center;
}
#request_call>p>span{  display:block;  }
#request_call>p>span>.blockbar{  position:relative;  z-index:2; }
#request_call>p>span>.blockbar::after{
  content:""; display:block; width:100%; height:50%; background:rgba(175, 22, 58, 0.349);
  position:absolute; left:0; bottom:0; z-index:-1;
}

footer{  padding:90px 20px;  font-size:0.9rem;  }
footer>.footer_top{   padding-bottom:3rem;      }
footer>.footer_top>div{  margin-bottom:1rem;    }
footer>.footer_top h3{
  font-size:1.2rem; font-family:'Noto Serif'; color:#d50032; margin-bottom:1.25rem;
}
footer>.footer_top p{
  font-weight:300; line-height:1.6rem; color:#7e7e7e; margin-bottom:1rem;
}
footer>.footer_top>div>a{
  font-size:0.67rem; letter-spacing:.2rem; color:#090909; font-weight:700;
}
footer>.footer_top address{  
  line-height:1.8; font-weight:300; font-size:0.92rem; color:#7e7e7e;
}
footer>.footer_top .telephone>p{  margin-bottom:0;  }
footer>.footer_top .telephone a{ font-weight:300; font-size:0.92rem; color:#7e7e7e;}
footer>.footer_top ul a{
  font-size:0.92rem; color:#7e7e7e; line-height:1.7;
}
footer>.footer_top ul>li{  margin-bottom:10px;  }
footer>.footer_top>.newsletter>h3{  margin-bottom:0;  }
footer>.footer_top>.newsletter>form{  display:flex;  gap:10px; }
footer>.footer_top>.newsletter input{
  display: none;
  /* height:45px; padding: 0.3rem 0.7rem;  font-size:1rem;  font-style:italic;
  border:1px solid #5d5d5d;  flex-grow:1; */
}
footer>.footer_top>.newsletter button{display: none;
  /*
  background:#090909; cursor:pointer; font-size:1rem; border:1px solid #090909;
  color:#fff;  height:45px;  padding:0 0.75rem; */
}

footer>.footer_bottom{ display:flex;  flex-flow:column-reverse wrap; gap:20px; }
footer>.footer_bottom>.sns{  display:flex;  gap:6px;  }
footer>.footer_bottom>.sns a{
  display:block;  width:40px;  height:40px; border-radius:50%;
  background:#090909; text-indent:-9999px;
}
footer>.footer_bottom>.sns a img{
   width: 25px; margin-left: 8px; padding-top: 7px;
}
footer>.footer_bottom>.copyright{
  color:#5d5d5d; font-family:'Noto Sans KR'; font-weight:300; line-height:1.8;
}
footer>.footer_top>.newsletter input{
  display: none;
  height:45px; padding: 0.3rem 0.7rem;  font-size:1rem;  font-style:italic;
  border:1px solid #5d5d5d;  flex-grow:1; /*width:calc(100% - 160px) */
}
footer>.footer_top>.newsletter button{
  display: none;
  background:#090909; cursor:pointer; font-size:1rem; border:1px solid #090909;
  color:#fff;  height:45px;  padding:0 0.75rem; /* 150px */
}

@media screen and (min-width:768px){ /* 태블릿 */
  header>.innerbox{  max-width:80%;  }
  #featured_room{  width:80%;  margin-left:auto; margin-right:auto;  }
  #featured_room>div{ 
    display:flex; justify-content:space-between;  margin-bottom:12vw; 
  }
  #featured_room>div>.imgs_wrap{  width:60%;  position:relative;  }
  #featured_room>div>.content{  width:30%; }
  #featured_room>.queen{  flex-direction:row-reverse;  }
  #Amenity{  max-width:80%;  margin-left:auto; margin-right:auto;  }
  #Amenity>.content_wrap{ flex-flow:row wrap;  gap:4%;  }
  #Amenity>.content_wrap>div{ width:48%;  margin-bottom:40px; }
  #news_wrap{
    display:flex; max-width:80%; /* max-width:710px */ margin-left:auto;
    margin-right:auto; flex-direction:row;  gap:20px;
  }
 
  #request_call>p>.line1,#request_call>p>.line2{  display:inline; }
  footer{  max-width:80%; margin-left:auto; margin-right:auto;  }
  footer>.footer_top{
    display:grid; grid-template-columns:33% 17% 25% 25%;
    grid-template-rows:repeat(2,1fr);
    grid-template-areas: "about navi addr tel"
                        "about navi news news";
  }
  footer>.footer_top>.about_us{  grid-area:about; padding-right:40px; }
  footer>.footer_top>.navigation{ grid-area:navi; }
  footer>.footer_top>.address{   grid-area:addr;  }
  footer>.footer_top>.telephone{ grid-area:tel;   }
  footer>.footer_top>.newsletter{ grid-area:news; }
  footer>.footer_bottom{ 
    flex-flow:row-reverse nowrap; justify-content:space-between; align-items:center;
  }
}
@media screen and (min-width:1200px){ /* 데스크탑 */
  .black_bg{  display:none !important;  }
  header>.innerbox>.toggle{  display:none;  }
  header>.innerbox>.gnb{
    position:static; width:auto; height:auto; background-color:transparent; padding:0;
  }
  header>.innerbox>.gnb>ul{  
    flex-direction:row;  gap:24px;  height:60px; align-items:center;
  }
  header>.innerbox>.gnb>ul>li{  position:relative; }
  header>.innerbox>.gnb>ul>li>a{  color:#fff; text-shadow:0 0 3px rgba(0,0,0,0.5);}
  header>.innerbox>.gnb>ul>li>.sub{
    width:200px; height:230px;  background-color:#fff; padding-top:20px;
    position:absolute;  left:0;  top:1.7rem;  margin-top:0;  
    box-shadow:2px 2px 3px 0px rgba(0,0,0,0.2);
  }
  #slide_container .swiper .swiper-slide .text_content{  
    display: block; font-size:4vw;  text-align:center;  color:#fff;  position:absolute;
    left:50%;  top:50%;  transform:translate(-50%,-50%);  
    text-shadow:0 0 5px rgba(0,0,0,0.5); font-family:'Noto Serif',serif;
    font-weight:500;  white-space:nowrap;
  } 
  #slide_container .swiper .swiper-slide .text_content1{  
   display: none;
  } 
  header>.innerbox>.gnb>ul>li>.sub>ul>li>a:hover{
    color: #d50032; 
  }
  .icons_top>ul>li>a>img{
    width: 20px; margin-left: 5px; padding-top: 5px;
  } 
  /* header>.innerbox>.gnb>ul>li:hover>.sub{  display:block;  } */
  header>.innerbox>.gnb>.close{   display:none;  }
  header>.innerbox>.icons_top{  display:block;  }
  header>.innerbox>.icons_top>ul{   display:flex; gap:3px; }
  header>.innerbox>.icons_top>ul>li:first-child{  margin-right:20px;  }
  header>.innerbox>.icons_top>ul>li>a{
    display:block; width:30px; height:30px; border-radius:15px;
    background-color:#fff;  text-indent:-9999px;
  }
  header.fix>.innerbox>.gnb>ul>li>a{  color:#151515;  text-shadow:none;  }
  header.fix>.innerbox>.gnb>ul>li>a>img{  color:#151515;  text-shadow:none;  }
  header.fix>.innerbox>.icons_top>ul>li>a{ background-color:#151515;     }
  .search_area{
    position:fixed; left:0; top:0; width:100%; height:100%;
    background-color:#fff; z-index:999999;
    display:flex; justify-content:center; align-items:center;
    display:none;
  }
  .search_area>form{    width:80%; max-width:1140px;   }
  .search_area>form>input{
    width:100%;  font-size:2rem; line-height:2rem;  height:72px;
    padding:20px 40px;  text-align:center; border:0px none;
    border-bottom:1px solid #ccc;  outline:0px;
    font-family:'Noto Serif';  font-style:italic;
  }
  .search_area>form>input:focus{  font-style:normal; border-color:#5d5d5d;  }
  .search_area>form>button{  display:none;  }
  .search_area>#close{
    position:absolute;  right:20px;  top:20px;  cursor:pointer;
    border:0px none;  background:transparent;  text-indent:-9999px;
    width:50px; height:50px;  opacity:0.4;  transition:opacity 0.2s;
  }
  .search_area>#close:hover{  opacity:1; }
  .search_area>#close::before,.search_area>#close::after{
    content:""; position:absolute; width:44px; height:2px; background-color:#222;
    border-radius:2px; left:3px; top:24px;  transform:rotate(45deg);
  }
  .search_area>#close::after{  transform:rotate(-45deg);/*135deg*/ }
  /* body{  overflow-x:hidden;  } */
  #slide_container .swiper .swiper-slide img{ 
    filter:brightness(70%); min-height:500px; width:100%;
  }
  header>.innerbox, #featured_room, #Amenity, #news_wrap, footer{  
    max-width:1140px;  padding-right:0;  padding-left:0;
  }
  #Amenity>.content_wrap{ gap:2%;  }
  #Amenity>.content_wrap>div{  width:32%;  }
  /* #request_call>p{  white-space:nowrap;  } */
  #request_call>p>span{  display:inline;  }
}
footer>.footer_top>.newsletter input{
  display: block;
  height:45px; padding: 0.3rem 0.7rem;  font-size:1rem;  font-style:italic;
  border:1px solid #5d5d5d;  flex-grow:1; /*width:calc(100% - 160px) */
}
footer>.footer_top>.newsletter button{
  display: block;
  background:#090909; cursor:pointer; font-size:1rem; border:1px solid #090909;
  color:#fff;  height:45px;  padding:0 0.75rem; /* 150px */
}

